
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

/* Styles for the installation button */
@import "install-button.css";

/* Your styles here */
li[name="pRecipeItem"]>p{
	font-size: 14px !important;
}
 h1.h1Header{
	font-size: 14px !important;
}
div [name="filterTabs"]
{
	display: none;
}
[role="tablist"]>[role="tab"] > a
{
	font-size: 10px !important;
}