<!DOCTYPE html>
<html manifest="offline.appcache">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" type="text/css" href="css/lists.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/toolbars.css">
    <link rel="stylesheet" type="text/css" href="css/tabs.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
  <body>
    <div id="header">
    </div>
    <div id="content">
    </div>
    <div id="footer">
    </div>
    <script type="text/template" id="tpl-recipe-search-header">
      <section role="region">
        <header>
          <menu type="toolbar">
            <button><span class="icon icon-user">user</span></button>
          </menu>
          <form action="#">
            <input type="text" placeholder="search" id="txtSearch" required="required">
            <button type="reset">Remove text</button>
          </form>
        </header>
      </section>
    </script>
    <script type="text/template" id="tpl-header">
      <section role="region">
        <header>
          <a href="#"><span class="icon icon-back">back</span></a>
          <h1 class="h1Header"><%= header %></h1>
        </header>
      </section>
    </script>
    <script type="text/template" id="tpl-recipe-searched">
      <section data-type="list">
        <ul>
          <% _.each(this.model,function(item){%>
              <li name="pRecipeItem" >
                <p id='rcp_<%=item.fields.item_id%>'>
                  <%=item.fields.brand_name%>
                </p>
                <p id='rcp2_<%=item.fields.item_id%>'>
                  <%= item.fields.item_name %>
                </p>
              </li>
          <% }); %>
        </ul>
      </section>
    </script>
    <script type="text/template" id="tpl-recipe-detail">
      <ul role="tablist" data-type="filter" data-items="3">
        <li id="filter2-1" role="tab" aria-selected="true">
          <a href="#filter2-1" id="hrefFilter2-1">Nutrition</a>
        </li>
        <li id="filter2-2" role="tab">
          <a href="#filter2-2" id="hrefFilter2-2" >Ingredients</a>
        </li>
        <li id="filter2-3" role="tab">
          <a href="#filter2-3" id="hrefFilter2-3">Action</a>
        </li>
      </ul>
      <div name="filterTabs" style="display:inline;" id="divFiler2-1">
        <section data-type="list">
          <header><%=item_description%></header>
          <ul>
            <li>
              <strong>Calories</strong>
              <%=nf_calories%>
            </li>
          </ul>
        </section>
      </div>
      <div name= "filterTabs" id="divFilter2-2">
        <section data-type="list">
          <header><%=item_description%></header>
          <ul>
            <li>
              <%=nf_ingredient_statement%>
            </li>
          </ul>
        </section>
      </div>
      <div name="filterTabs" id="divFilter2-3">
        Three
      </div>
      <div role="toolbar">
        <ul>
          <li>
            <button class="pack-icon-mark">Mark</button>
          </li>
          <li>
            <button class="pack-icon-send">Send</button>
          </li>
          <li>
            <button class="pack-icon-share">Share</button>
          </li>
          <li>
            <button></button>
          </li>
        </ul>
      </div>
    </script>
    <!-- Using require.js, a module system for javascript, include the
         js files. This loads "main.js", which in turn can load other
         files, all handled by require.js:
         http://requirejs.org/docs/api.html#jsfiles -->
    <script type="text/javascript"
            data-main="js/init.js"
            src="js/lib/require.js"></script>
  </body>
</html>
